@model IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        @if (Model.LoggedInYandex)
        {
            <div>Last synced item timestamp: @Model.Progress.LastSyncedDate</div>
            @if (Model.Progress.IsRunning)
            {
                <div>
                    <span>Sync is running. </span>
                    @if (Model.Progress.LastSyncedDate != null)
                    {
                        <span>Last synced item date: @Model.Progress.LastSyncedDate</span>
                    }
                </div>
            }
            else
            {
                <div><span>Sync is not running. </span>@Html.ActionLink("Start/resume sync", "Index", "Sync")</div>
            }
        }
        else
        {
            @Html.ActionLink("Log in to Yandex", "LoginWithYandex")
        }
    </div>
    <ul>
        @foreach (var albumMeta in Model.Albums.Where(x => !string.IsNullOrEmpty(x.Title)))
        {
            <li>
                @Html.ActionLink(albumMeta.Title, "Album", routeValues: new { albumId = albumMeta.Id })
            </li>
        }
    </ul>
</div>
